/*color and font*/
body{
	background-color: rgb(250,250,250);
	color: rgb(50,50,50);
	height: 130vh;
	font-family: liberation serif
}

h1 {
color: rgb(38,38,38);
font-weight: 900px;
letter-spacing: 10px;
font-size: 40px;
font-family: 'Playfair Display', serif;
}

h2{
	color: #7005000;
	font-weight: 700px; letter-spacing: 8px;
	font-family: 'Open Sans Condensed', sans-serif;
}

a{
	text-decoration: none;
	color: orange;
	font-weight: bold;
}

a:hover{
	color: black;
}


.img-circle{
	width :50vh;
	border-radius: 50%;
}

div{
	background: white;
	width :100vh;
	padding: 3vh;
	margin: 3vh;
	box-shadow: 0vh 100vh 200vh rgba(0,0,0,0.1);
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}

.btn-blue {
	background-color: orange;
	padding: 2vh 2vh;
	border-radius: 4px;
	color:white;
	
}